{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <h1> This lucky number: {{ number }} </h1>
{% endblock %}
{% block javascripts %}{% endblock %}